<launch>
  <arg name="gui" default="true" />
  <arg name="sim" default="false" />

  <arg name="model" default="$(find simtech_robot_laser_control)/urdf/workcell.xacro" />

  <param name="/use_sim_time" value="$(arg sim)" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <include file="$(find simtech_robot_laser_control)/launch/simtech_robot_interface.launch" unless="$(arg sim)">
    <arg name="robot_ip" value="192.168.125.1" />
    <arg name="J23_coupled" value="true" />
    <arg name="laser_type" value="ipg" />
    <arg name="feeder_type" default="powder" />
  </include>
  


  <node name="velocity" pkg="camera_measures" type="nd_velocity.py" respawn="true"/>

  <!-- supervise speed, tell if the robot is running -->
  <node name="velocity_supervisor" pkg="camera_measures" type="nd_velocity_supervisor.py" respawn="true" />
</launch>